<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onAddItem(f)" #f="ngForm">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                name="name"
                ngModel
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="number">Number</label>
              <input
                type="number"
                id="amount"
                class="form-control"
                name="amount"
                ngModel
                required
                [pattern]="'[1-9]+[0-9]*$'"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <button
            type="submit"
            [disabled]="!f.valid"
            class="btn btn-secondary mt-2"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
